<div class="content">
  <h1>PLNT APP HOME - Admin</h1><hr>
  <div id="introtextDocent"><h3> Welkom testnaam</h3>
    Hieronder staan enkele statistieken over de PLNT  afgelopen week. <br>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12"><canvas #lineChart></canvas></div>
    <div class="col-md-12"><canvas #donutChart></canvas></div>
  </div>
  <div class="row">
    <div class="col-md-12"><canvas #barChart></canvas></div>
    <div class="col-md-12"><canvas #stackedBarChart></canvas></div>
  </div>
</div>
