<div class="container horizontal-scrollable">
  <div class="row text-center">
    <div class="col-xs-4">
      <h1>{{ projects[0].title }}</h1>
      <h3>{{ projects[0].description }}</h3>
    </div>
    <div class="col-xs-4">
      <h1>{{ projects[1].title }}</h1>
      <h3>{{ projects[1].description }}</h3>
    </div>
    <div class="col-xs-4">
      <h1>{{ projects[2].title }}</h1>
      <h3>{{ projects[2].description }}</h3>
    </div>
    <div class="col-xs-4">
      <h1>{{ projects[3].title }}</h1>
      <h3>{{ projects[3].description }}</h3>
    </div>
    <div class="col-xs-4">
      <h1>{{ projects[4].title }}</h1>
      <h3>{{ projects[4].description }}</h3>
    </div>
  </div>
</div>

