.testimonial-group > .row {
  overflow-x: hidden;
  white-space: nowrap;
}
.testimonial-group > .row > .col-xs-4 {
  display: inline-block;
  float: none;
}

.col-xs-4 {
  font-size: 20px;
}

h3 {
  font-size: 12px;
}


