<!-- <nav>
    <div class="logo">
      <a>
        <img src="../../../assets/plnt.png">
      </a>
    </div>
    <ul class="flex-container" *ngIf="isUserLoggedIn; else NotLoggedIn">
      <li><mat-icon>face</mat-icon></li>   
      <li><mat-icon>notification_important</mat-icon></li>
      <li><a (click) = "logOut()">Log out</a></li> 
    </ul>
    <ng-template #NotLoggedIn>
      <ul class="nav-links">
      <li><input matInput placeholder="E-mail"></li>
      <li><input type="password" matInput placeholder="Wachtwoord"></li>
      <li><a (click) = "logIn()">Login</a></li>
      <li><a>Register</a></li>
      </ul>
    </ng-template>
    <div class="nav-home">
      <li><a>HOME</a></li>
    </div>
    <ul class="nav-bottom-right">
      <li><a>PROJECTS</a></li>
      <li><a>ARCHIVE</a></li>
      <li><a>ABOUT</a></li>
    </ul>
  </nav>
   -->    
<!-- <nav>
   <div class="logo">
    <a>
      <img src="../../../assets/plnt.png">
    </a>
  </div>
<ul class="navigation">
  <li><input matInput placeholder="E-mail" ></li>
  <li><input type="password" matInput placeholder="Wachtwoord"></li>
 <li><a href="#">Login</a></li>
 <li><a href="#">Register</a></li>
</ul>
<ul class="navigation">
  <li><a href="#">Home</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">Products</a></li>
  <li><a href="#">Contact</a></li>
 </ul>
 <div class="navigation" id="myTopnav">
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
 </div>
</nav> -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav>
<div class="logo" id="myLogo">
  <a>
    <img src="../../../assets/plnt.png">
  </a>
</div>
<div class="topnav" id="myTopnav">
  <a>Register</a>
  <a>Login</a>
  <a><input matInput placeholder="E-mail"></a>
  <a><input type="password" matInput placeholder="Wachtwoord"></a>
  <a class="icon" (click)="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<div class="topnav" id="myTopnav">
  <a class="home">Home</a>
  <a>About</a>
  <a>Projects</a>
  <a>Archive</a>
</div>
</nav>
<!-- <div class="topnav" id="myTopnav">
  <a href="#home" class="active">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a  class="icon" (click)="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div> -->