<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav>
  <div class="logo" id="myLogo" routerLink="/home">
    <a>
      <img src="../../../assets/plnt.png">
    </a>
  </div>
  <div class="topnav" id="myTopnav" *ngIf="isUserLoggedIn; else NotLoggedIn" id="myTopnav">
    <a class="icon close" (click)="responsiveLogOut()">
      <i class="fa fa-times"></i>
    </a>
    <a (click)="logOut()">Log out</a>
    <a routerLink="/userProfile">
      <mat-icon>face</mat-icon>
    </a>
    <a (click)="toggleNotifications()">
      <mat-icon>notification_important</mat-icon>
    </a>
    <a class="icon" (click)="responsiveLogOut()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  <ng-template #NotLoggedIn>
    <div class="topnav" id="myTopnav">
      <a class="icon close" (click)="responsiveLogIn()">
        <i class="fa fa-times">
        </i>
      </a>
      <a routerLink="/register">Register</a>
      <a (click)="logIn()">Login</a>
      <a><input [(ngModel)]="password" placeholder="Wachtwoord"></a>
      <a><input [(ngModel)]="email" placeholder="E-mail"></a>
      <a class="icon" (click)="responsiveLogIn()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </ng-template>
  <div class="topnav" id="myTopnavi" *ngIf="UserIsNotAnAdmin; else UserIsAdmin">
    <a class="home" routerLink="/home">Home</a>
    <a routerLink="/about">About</a>
    <a routerLink="/projects">Projects</a>
    <a routerLink="/archive">Archive</a>
  </div>
  <ng-template #UserIsAdmin>
    <div class="topnav">
      <a class="home" routerLink="/home">Home</a>
      <a routerLink="/admin/statistics">Statistics</a>
      <a routerLink="/admin/papers">Papers</a>
      <a routerLink="/admin/projects">Projects</a>
      <a routerLink="/admin/accounts">Accounts</a>
    </div>
  </ng-template>
</nav>

