<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav>
<div class="logo" id="myLogo">
  <a>
    <img src="../../../assets/plnt.png">
  </a>
</div>
<div class="topnav" id="myTopnav">
  <a>Register</a>
  <a>Login</a>
  <a><input matInput placeholder="Wachtwoord"></a>
  <a><input type="password" matInput placeholder="E-mail"></a>
  <a class="icon" (click)="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<div class="topnav" id="myTopnav">
  <a class="home">Home</a>
  <a>About</a>
  <a>Projects</a>
  <a>Archive</a>
</div>
</nav>
