<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="row register-form">
        <form class="custom-form">
          <h1>Register</h1>
          <div [formGroup]="firstName" class="form-row form-group">
            <div class="col-sm-4 label-column"><label class="col-form-label">First name</label></div>
            <div class="col-sm-6 input-column"><input formControlName="currentFirstName" class="form-control" type="text" /></div>
            <div class="warning" *ngIf="firstName.touched">
              <small class="alert alert-danger" *ngIf="firstName.get('currentFirstName').hasError('required')">Required!</small>
            </div>
          </div>
          <div class="form-row form-group">
            <div class="col-sm-4 label-column"><label class="col-form-label">Infix</label></div>
            <div class="col-sm-6 input-column"><input class="form-control" type="text" /></div>
          </div>
          <div [formGroup]="lastName" class="form-row form-group">
            <div class="col-sm-4 label-column"><label class="col-form-label">Last name</label></div>
            <div class="col-sm-6 input-column"><input formControlName="currentLastName" class="form-control" type="text"></div>
            <div class="warning" *ngIf="lastName.touched">
              <small class="alert alert-danger" *ngIf="lastName.get('currentLastName').hasError('required')">Required!</small>
            </div>
          </div>
          <div [formGroup]="email" class="form-row form-group">
            <div class="col-sm-4 label-column"><label class="col-form-label">Email&nbsp;</label></div>
            <div class="col-sm-6 input-column"><input formControlName="currentEmail" class="form-control" type="email"></div>
            <div style="position: relative; left: 178px" class="warning" *ngIf="email.touched">
              <small class="alert alert-danger" *ngIf="email.get('currentEmail').hasError('required')">Required!</small>
              <small style="margin-left: 12px;" class="alert alert-danger" *ngIf="email.invalid">Please enter valid email</small>
            </div>
          </div>
          <div [formGroup]="password" class="form-row form-group">
            <div class="col-sm-4 label-column"><label class="col-form-label">Password</label></div>
            <div class="col-sm-6 input-column"><input formControlName="currentPassword" class="form-control" type="password"></div>
            <div class="warning" *ngIf="password.touched">
              <small class="alert alert-danger" *ngIf="password.get('currentPassword').hasError('required')">Required!</small>
              <small style="position: relative; left:40px;" class="alert alert-danger" *ngIf="password.get('currentPassword').hasError('minlength')">Minimum 6 chars</small>
            </div>
          </div>
          <div [formGroup]="phoneNumber" class="form-row form-group">
            <div class="col-sm-4 label-column"><label class="col-form-label">Phone number</label></div>
            <div class="col-sm-6 input-column"><input formControlName="currentPhoneNumber" class="form-control" type="text" /></div>
            <div class="warning" *ngIf="phoneNumber.touched">
              <small class="alert alert-danger" *ngIf="phoneNumber.get('currentPhoneNumber').hasError('required')">Required!</small>
            </div>
          </div>
          <div [formGroup]="education" class="form-row form-group">
            <div class="col-sm-4 label-column"><label class="col-form-label">Education</label></div>
            <div class="col-sm-6 input-column"><input formControlName="currentEducation" class="form-control" type="text" /></div>
            <div class="warning" *ngIf="education.touched">
              <small class="alert alert-danger" *ngIf="education.get('currentEducation').hasError('required')">Required!</small>
            </div>
          </div>
          <button class="btn btn-light submit-button" type="button">Submit</button>
        </form>
      </div>
    </div>
    <div class="col-md-6" class="interests">
      <h1>Interests</h1>
      <hr>
      <div *ngFor="let interest of interests" >
        <div class="interest"><p>{{ interest }}</p></div>
      </div>
    </div>
    <div class="col-md-6">
      <input class="form-control" (keyup.enter)="onKey($event)" placeholder="Insert new interest" [(ngModel)]="interestInput" id="interest_input" type="text">
    </div>
  </div>


