<div class="content">
  <div class="top">
    <div class="title"><p>{{project?.title}}</p></div>
    <div class="follow"><button *ngIf="isEducational()" (click)="following ? unFollowProject() : followProject()">{{following? 'un-Follow' : 'follow'}}</button></div>
    <div class="client">
      <span class="client_name">{{owner?.name_company}}</span>
      <img [src]="imageUrl"/>
      <span class="client_contact">email: {{owner?.email_user}}</span>
    </div>
  </div>
  <div class="description">
    <p>{{project?.description}}
    </p>
  </div>
  <div class="papers">
    <table>
      <tr class="header">
        <th class="paper_title">Title</th>
        <th class="paper_author">Author</th>
        <th class="paper_uploaded">Uploaded by</th>
        <th class="paper_date">Upload date</th>
      </tr>
      <span [ngClass]="{visable: hasContent}">no papers uploaded yet</span>
      <tr (click)="showPaper(paper.paperFile)" class="paper_content" *ngFor="let paper of papers">
        <td class="paper_title">{{paper.title}}</td>
        <td class="paper_author">{{paper.author}}</td>
        <td class="paper_uploaded">{{paper.uploadedBy}}</td>
        <td class="paper_date">{{formatDate(paper.uploadDate)}}</td>
      </tr>
    </table>
    <button (click)="doAccesButtonAction()" *ngIf="isTeacher()" class="upload">{{accesButtonText}}</button>
  </div>
  <app-client-project-view *ngIf="isCurrentOwner()" [currentOwner]="isCurrentOwner()" [project]="project" [papers]="papers"></app-client-project-view>
</div>
<app-upload [ngClass]="{'uploading':uploading}"></app-upload>
