<div class="content">
<h1>PLNT APP HOME</h1><hr>
<div id="introtext"><p>
Altijd al willen weten of een onderwerp al eerder is uitgewerkt.  <br>
Of ben je op zoek naar informatie, maar geen zin om stoffige boeken door te kijken? <br>
De PLNT app bundelt alle informatie in Leiden tot een handige app</p></div>

<section class="card">
  <div id ="scrollContainerDiv">
    <app-scrollbar [projects]=this.projects></app-scrollbar>
  </div>
</section>

<div class="totalStatistics">
<div class="statistics" id="projectAmount"><img src="../../../assets/projects.png">{{projectAmount}}<br> Projects</div>
<div class="statistics" id="userAmount"><img src="../../../assets/users.png">{{userAmount}}<br> Users</div>
<div class="statistics" id="studentAmount"><img src="../../../assets/students.png">{{studentAmount}}<br> Students</div>
<div class="statistics" id="teacherAmount"><img src="../../../assets/teachers.png">{{teacherAmount}}<br> Teachers</div>
<div class="statistics" id="clientAmount"><img src="../../../assets/clients.png">{{clientAmount}}<br> Clients</div>
</div>
</div>
