  .content{
    margin-bottom: 150px;
  }

  * {
    text-align: center;
  }

  h1 {
    font-size: 25px;
    color: rgb(109,190,179);
  }

  .card {
      background-color:transparent;
      display: inline-block;
      position: absolute;
      left: 0;
      right: 0;
      margin: 1.5% auto auto;
  }


  .wrapper {
    text-align: center;
    display: inline-block;
    margin: 10px;
  }


  .row {
    font-weight: bold;
    margin-top: 18%;
    width: 30%;
    display: inline-flex;
    self-align: center;
  }

  .statistic {
    align-items: center;
    display: inline-block;
    width: 20%;
  }

  .row img {
    display: flex;
    margin: 0 auto;
  }


  #scrollContainerDiv {
    display: inline-block;
    text-align: center;
  }



