.content{
  margin-top: 15vh;
  margin-bottom: 150px;
}

  * {
    text-align: center;
  }

  h1 {
    font-size: 25px;
    color: rgb(109,190,179);
  }

  .card {
      background-color:transparent;
      display: inline-block;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      margin-top: 1.5%;
    }


  .wrapper {
    text-align: center;
    display: inline-block;
    margin: 10px;
  }


  .statistics {
    position: relative;
    top: 225px;
    width: 5%;
    text-align: center;
    display: inline-block;
    margin: 10px;
    font-weight: bold;
    margin-top: 100px;
  }

  #scrollContainerDiv {
    display: inline-block;
    text-align: center;
  }


