div {
    text-align: center;
}

a{
    background-color: rgb(109, 190, 179);
    color: white;
    margin: 50px;
    padding: 10px;
}
.project {
    border-radius: 50px;
    border: solid;
    text-align: left;
}