h1 {
  text-align: center;
  font-weight: bold;
  color: rgb(109, 190, 179);
}

hr {
  border: none;
  height: 2px;
  width: 150px;
  /* Set the hr color */
  color: rgb(109, 190, 179);
  background-color: rgb(109, 190, 179);
}

button {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.register_icon img {
  width: 200px;
  height: 200px;
}

.register_icon div {
  float: left;
  margin-left: 70px;
  margin-right: 70px;
}

.button {
  background-color: rgb(109, 190, 179); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
  font-weight: bold;
}

.register {
  width: 80%;
  position: relative;
  left: 165px;
}

.register_icon {
  margin: 0 auto;
  display: table;
}

.register_button {
  margin: 0 auto;
  display: table;
}

.register_input h1 {
  text-align: left;
}

.register_input .input {
  height: 40px;
  width: 275px;
}

.register_interests {
  float: right;
}

.register_input {
  margin-top: 100px;
}




