<h1>I am a</h1>
<hr>

<div class="register">
  <div class="register_button">
    <button class="button" type="button">Student</button>
    <button class="button" type="button">Teacher</button>
    <button class="button" type="button">Client</button>
  </div>
  <div class="register_icon">
    <div><img src="../../../assets/student_icon.png" alt="student"></div>
    <div><img src="../../../assets/teacher_icon.png" alt="student"></div>
    <div><img src="../../../assets/client_icon.png" alt="client"></div>
  </div>
</div>
