<h1>I am a</h1>
<hr>

<div class="register">
  <div class="register_button">
    <button class="button" type="button">Student</button>
    <button class="button" type="button">Teacher</button>
    <button class="button" type="button">Client</button>
  </div>
  <div class="register_icon">
    <div><img src="../../../assets/student_icon.png" alt="student"></div>
    <div><img src="../../../assets/teacher_icon.png" alt="student"></div>
    <div><img src="../../../assets/client_icon.png" alt="client"></div>
  </div>

  <div class="register_input">
    <h1>Register</h1>
    <form action="/action_page.php">
      <br>
      <input class="input" type="text" placeholder="first name" name="fname"><br><br>
      <input class="input" type="text" placeholder="infix" name="infix"><br><br>
      <input class="input" type="text" placeholder="last name" name="lname"><br><br>
      <input class="input" type="text" placeholder="email" name="email"><br><br>
      <input class="input" type="text" placeholder="password" name="password"><br><br>
      <input class="input" type="text" placeholder="phone number" name="phonenumber"><br><br>
      <input class="input" type="text" placeholder="education" name="education"><br><br>
      <input class="button" type="submit" value="Submit">
    </form>
  </div>

  <!-- bepaalde dingen wel of niet laten zien doormiddel van *ngif -->

  <div class="register_interests">
    <div class="register_image">
      <img src="" alt="" />
    </div>
    <div class="interest_label"></div>
    <div class="interest_label"></div>
    <div class="interest_label"></div>
    <div class="interest_label"></div>
    <div class="interest_label"></div>
    <div class="interest_label"></div>
    <input class="input" type="text" placeholder="interest" name="interest"><br><br>
  </div>
</div>


