<h1>I am a</h1>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-xs-12 col-sm-12 offset-xl-0">
      <button routerLink="clientRegister" class="btn btn-primary d-xl-flex center" type="button">client</button>
      <img src="../assets/client_icon.png" />
    </div>
    <div class="col-md-4 col-xs-12 col-sm-12">
      <button routerLink="studentRegister" class="btn btn-primary d-xl-flex center" type="button">student</button>
      <img src="../assets/student_icon.png">
    </div>
    <div class="col-md-4 col-xs-12 col-sm-12">
      <button routerLink="teacherRegister" class="btn btn-primary d-xl-flex center" type="button">teacher</button>
      <img src="../assets/teacher_icon.png">
    </div>
  </div>
</div>
