<div class="content">
  <h1>PLNT APP HOME - Student</h1><hr>
  <div id="introtext"><h3> Welkom {{studentDisplayName}}</h3><p>
    Sinds u laatste bezoek
      <em *ngIf="projectsAmount > 1 || projectsAmount == 0; else lessThen"> zijn er {{projectsAmount}} projecten </em>
    <ng-template #lessThen>
      <em>
         is er {{projectsAmount}} project
      </em>
    </ng-template>
    aangemaakt met uw interesses. <br>
    Hiernaar
    <em *ngIf="papersAmount > 1 || papersAmount == 0; else lessThen2"> zijn ook {{papersAmount}} bestanden </em>
    <ng-template #lessThen2>
      <em>
        is ook {{papersAmount}} bestand
      </em>
    </ng-template> geupload.</p></div>
  <br>
  <section class="card">
    <h2>Sommige projecten die u volgt</h2>
    <br>
    <div id ="scrollContainerDiv1">
      <app-scrollbar [projects]=this.followedProjects></app-scrollbar>
    </div>
  </section>

  <section class="card">
    <h2>Recentelijke aangemaakt projecten met uw interesses</h2>
    <br>
    <div id ="scrollContainerDiv2">
      <app-scrollbar [projects]=this.projectsWithInterests></app-scrollbar>
    </div>
  </section>
  <br>
  <button type="button" routerLink="/archive">Alle bestanden</button>
  <button type="button" routerLink="/projects">Alle projecten</button>

</div>
