<div class = "text-center">
    <div><button (click)="openDialog('Add a new Study', 'Study')">Add Study</button></div>
    <div><button (click)="openDialog('Add a new Category', 'Category')">Add Category</button></div>
    <div><button (click)="openComponentDialog()">Add Student</button></div>
    <div><button>Add Teacher</button></div>
    <div><button>Add Client</button></div>
    <div><button>Add Project</button></div>
    <div><button>Add Paper</button></div>
    <div><button>Add Admin</button></div>
</div>