<div class = "text-center">
    <div><button (click)="openComponentDialog('study')">Add Study</button></div>
    <div><button (click)="openComponentDialog('category')">Add Category</button></div>
    <div><button (click)="openComponentDialog('student')">Add Student</button></div>
    <div><button (click)="openComponentDialog('teacher')">Add Teacher</button></div>
    <div><button (click)="openComponentDialog('client')">Add Client</button></div>
    <div><button (click)="openComponentDialog('project')">Add Project</button></div>
    <div><button (click)="openComponentDialog('paper')">Add Paper</button></div>
    <div><button (click)="openComponentDialog('admin')">Add Admin</button></div>
</div>