<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="row register-form">
        <form class="custom-form">
          <h1>Register</h1>
          <div [formGroup]="study" class="form-row form-group">
            <div class="col-sm-4 label-column"><label class="col-form-label">Study </label></div>
            <div class="col-sm-6 input-column"><input formControlName="currentStudy" class="form-control" type="text"></div>
            <div style="position: relative; left: 178px" class="warning" *ngIf="study.touched">
              <small class="alert alert-danger" *ngIf="study.get('currentStudy').hasError('required')">Required!</small>
            </div>
          </div>
          <div [formGroup]="email" class="form-row form-group">
            <div class="col-sm-4 label-column"><label class="col-form-label">Email&nbsp;</label></div>
            <div class="col-sm-6 input-column"><input formControlName="currentEmail" class="form-control" type="email"></div>
            <div style="position: relative; left: 178px" class="warning" *ngIf="email.touched">
              <small class="alert alert-danger" *ngIf="email.get('currentEmail').hasError('required')">Required!</small>
              <small style="margin-left: 12px;" class="alert alert-danger" *ngIf="email.invalid">Please enter valid email</small>
            </div>
          </div>
          <div [formGroup]="password" class="form-row form-group">
            <div class="col-sm-4 label-column"><label class="col-form-label">Password</label></div>
            <div class="col-sm-6 input-column"><input formControlName="currentPassword" class="form-control" type="password"></div>
            <div class="warning" *ngIf="password.touched">
              <small class="alert alert-danger" *ngIf="password.get('currentPassword').hasError('required')">Required!</small>
              <small style="position: relative; left:40px;" class="alert alert-danger" *ngIf="password.get('currentPassword').hasError('minlength')">Minimum 6 chars</small>
            </div>
          </div>
          <button class="btn btn-light submit-button" type="button" (click)="submitStudent()">Submit</button>
        </form>
      </div>
    </div>
    <div class="col-md-6" class="interests">
      <h1>Interests</h1>
      <hr>
      <div *ngFor="let interest of interests" >
        <div class="interest"><p>{{ interest }}</p></div>
      </div>
    </div>
    <div class="col-md-6">
      <input class="form-control" (keyup.enter)="onKey($event)" placeholder="Insert new interest" [(ngModel)]="interestInput" id="interest_input" type="text">

    </div>
  </div>


