<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="row register-form">
        <form class="custom-form">
          <h1>Register</h1>
          <div [formGroup]="email" class="form-row form-group">
            <div class="col-sm-4 label-column"><label class="col-form-label">Email&nbsp;</label></div>
            <div class="col-sm-6 input-column"><input formControlName="currentEmail" class="form-control" type="email"></div>
            <div style="position: relative; left: 178px" class="warning" *ngIf="email.touched">
              <small class="alert alert-danger" *ngIf="email.get('currentEmail').hasError('required')">Required!</small>
              <small style="margin-left: 12px;" class="alert alert-danger" *ngIf="email.invalid">Please enter valid email</small>
            </div>
          </div>
          <div [formGroup]="password" class="form-row form-group">
            <div class="col-sm-4 label-column"><label class="col-form-label">Password</label></div>
            <div class="col-sm-6 input-column"><input formControlName="currentPassword" class="form-control" type="password"></div>
            <div class="warning" *ngIf="password.touched">
              <small class="alert alert-danger" *ngIf="password.get('currentPassword').hasError('required')">Required!</small>
              <small style="position: relative; left:40px;" class="alert alert-danger" *ngIf="password.get('currentPassword').hasError('minlength')">Minimum 6 chars</small>
            </div>
          </div>
          <button class="btn btn-light submit-button" type="button" (click)="submitStudent()">Submit</button>
        </form>
      </div>
    </div>
    <div class="col-md-4">
      <h1 id="interest">Interests</h1>
      <mat-selection-list [(ngModel)]="selectedCategories">
        <mat-list-option [value]="category" *ngFor="let category of categories">
          {{category}}
        </mat-list-option>
      </mat-selection-list>
    </div>
    <div class="col-md-4">
      <h1 id="study">Studies</h1>
      <mat-selection-list [(ngModel)]="selectedStudies">
        <mat-list-option [value]="study" *ngFor="let study of studies">
          {{study}}
        </mat-list-option>
      </mat-selection-list>
    </div>
  </div>
</div>

