<div class="panel panel-default">
<mat-accordion @input() [multi]="true">
  <input type="text" [innerText]="searchValue" class="form-control" [(ngModel)]="onUpdateSearch">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>Studierichting</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-checkbox>Ict</mat-checkbox>
    <mat-checkbox>Verzorging</mat-checkbox>
    <mat-checkbox>Management</mat-checkbox>
    <mat-checkbox>Techniek</mat-checkbox>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>Etc..</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-checkbox>Ict</mat-checkbox>
    <mat-checkbox>Verzorging</mat-checkbox>
    <mat-checkbox>Management</mat-checkbox>
    <mat-checkbox>Techniek</mat-checkbox>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>Etc...</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-checkbox>Ict</mat-checkbox>
    <mat-checkbox>Verzorging</mat-checkbox>
    <mat-checkbox>Management</mat-checkbox>
    <mat-checkbox>Techniek</mat-checkbox>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>Etc...</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-checkbox>Ict</mat-checkbox>
    <mat-checkbox>Verzorging</mat-checkbox>
    <mat-checkbox>Management</mat-checkbox>
    <mat-checkbox>Techniek</mat-checkbox>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>Etc...</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-checkbox>Ict</mat-checkbox>
    <mat-checkbox>Verzorging</mat-checkbox>
    <mat-checkbox>Management</mat-checkbox>
    <mat-checkbox>Techniek</mat-checkbox>
  </mat-expansion-panel>
</mat-accordion>
</div>
