table {
  table-layout: fixed;
  width: 100%;
}

th,td {
  border: 1px solid black;
}

td:nth-child(1),
td:nth-child(2),
td:nth-child(3),
td:nth-child(4) {
  width: 25%;
}

th:nth-child(1),
th:nth-child(2),
th:nth-child(3),
th:nth-child(4) {
  width: 100%;
}

jw-pagination {
  margin-left: auto;
  margin-right: auto;
}
