<table class="table table-striped table-bordered">
  <tbody>
  <tr>
  <th>Title</th>
  <th>Description</th>
  <th>Study</th>
  <th>Category</th>
</tr>
<!--  <div *ngFor="let item of pageOfItems">-->
  <tr *ngFor="let paperItem of paper; let i = index">
    <td>{{paperItem.title}}</td>
    <td>{{paperItem.author}}</td>
    <td>{{paperItem.paperFile}}</td>
    <td>{{paperItem.id}}</td>
  </tr>
  </tbody>
</table>
  <jw-pagination [items]="paper" (changePage)="onChangePage($event)"></jw-pagination>
