<table class="table table-striped table-bordered">
  <tbody>
  <tr>
  <th>Title</th>
  <th>Description</th>
  <th>Study</th>
  <th>Category</th>
</tr>
<!--  <div *ngFor="let item of pageOfItems">-->
  <tr>
    <td><a href="https://www.google.com/">Hier komt een leuke titel te staan</a></td>
    <td>Hier komt de omschrijving van het projectdddddddddddddddddddddddddddddddddddddddddd</td>
    <td>Hier komt de studie te staan</td>
    <td>hallo</td>
  </tr>
  <tr>
    <td><a href="https://www.google.com/">Hier taan</a></td>
    <td>Hier komt de omschrijvdddddddddddddddddddddddddddddddd</td>
    <td>Hier komt de studie te staddddddddddddddddddddddddan</td>
    <td>hallhallhallhallhallhallhallhallhallhallhallhallo</td>
  </tr>
<!--  </div>-->
<!--<tr>-->
<!--    <td>Hier komt een </td>-->
<!--    <td>Hier komt de omschrijving van het projectjjjjjjjjjjjjjjjjjj</td>-->
<!--    <td>Hier komt de studie ten</td>-->
<!--    <td>En hier komt de categogggggggggggggggggrie</td>-->
  </tbody>
</table>
  <jw-pagination [items]="item" (changePage)="onChangePage($event)"></jw-pagination>
