<footer id="footer" class="page-footer font-small indigo">

  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-3 mx-auto">
        <ul class="list-unstyled">
          <li>
            <img id="logo" src="../../../assets/plnt_logo.png" alt="logo">
          </li>
          <li>Langegracht 70</li>
          <li>2312 NV Leiden, Nederlands</li>
        </ul>
      </div>
      <div class="col-md-3 mx-auto">
        <ul class="list-unstyled">
          <li>+31 71 527 24 67</li>
          <li><button type="button" class="btn btn-link">contact@plnt.nl</button></li>
          <li>
            <img class="icon" src="../../../assets/facebook.png" alt="facebook">
            <img class="icon" src="../../../assets/twitter.png" alt="twitter">
            <img class="icon" src="../../../assets/linkedin.png" alt="linkedin">
          </li>
        </ul>
      </div>
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div>
    <p>© 2019 PLNT</p>
    <a target="_blank" href="https://www.google.com.br/maps/place/PLNT+Leiden/@52.1636961,4.4898662,17z/data=!3m1!4b1!4m5!3m4!1s0x47c5c6935ca128d3:0x8979448a419f89c4!8m2!3d52.1636961!4d4.4920549" id="google-maps"></a>
  </div>
</footer>

