<div class="container">
	<div class="table">
    <div >
		<div class="table-header">
      <div class="header__item"><a class="filter__link">Title</a></div>
      <div class="header__item"><a class="filter__link">Description</a></div>
      <div class="header__item"><a class="filter__link">Category</a></div>
      <!-- <div class="header__item"><a class="filter__link">Client</a></div> -->
      <div class="header__item"><a class="filter__link">Study</a></div>
      <div class="header__item"><a class="filter__link">Created On</a></div>
      <div class="header__item"></div>
    </div>
    <div *ngFor="let project of AllProjects; let i = index" class="table-row">
      <div class="table-data">{{project.title}}</div>
      <div class="table-data">{{project.summary}}</div>
      <div class="table-data">{{project.category}}</div>
      <!-- <div class="table-data">{{project.client}}</div> -->
      <div class="table-data">{{project.study}}</div>
      <div class="table-data">{{project.createdOn}}</div>
      <div>
        <button class="table-data" (click)="logIndex(i);">Edit</button>
        <button class="table-data" (click)="delete(project.id, project.title);">Delete</button>
        </div>
    </div> 
  </div>
</div>
