<div class="container">
  <div class="table">
    <div>
      <div class="table-header">
        <div class="header__item"><a class="filter__link">Title</a></div>
        <div class="header__item"><a class="filter__link">Description</a></div>
        <div class="header__item"><a class="filter__link">Category</a></div>
        <!-- <div class="header__item"><a class="filter__link">Client</a></div> -->
        <div class="header__item"><a class="filter__link">Study</a></div>
        <div class="header__item"><a class="filter__link">Created On</a></div>
        <div class="header__item"></div>
      </div>
      <div *ngFor="let project of AllProjects; let i = index" class="table-row">
        <div class="table-data" *ngIf="!edit || i != divIndex">{{project.title}}</div>
        <div class="table-data" *ngIf="!edit || i != divIndex">{{project.description}}</div>
        <div class="table-data" *ngIf="!edit || i != divIndex">{{project.category}}</div>
        <!-- <div class="table-data">{{project.client}}</div> -->
        <div class="table-data" *ngIf="!edit || i != divIndex">{{project.study}}</div>
        <div class="table-data" *ngIf="edit && i == divIndex"><input [(ngModel)]="project.title"
          placeholder={{project.title}}></div>
        <div class="table-data" *ngIf="edit && i == divIndex"><input [(ngModel)]="project.description"
          placeholder={{project.description}}>
        </div>
          <div class="table-data" *ngIf="edit && i == divIndex"><select [(ngModel)]="project.category">
            <option *ngFor="let category of AllCategories">{{category.name}}</option>
          </select>
        </div>
        <!-- <div class="table-data">{{project.client}}</div> -->
        <div class="table-data" *ngIf="edit && i == divIndex"><select [(ngModel)]="project.study">
          <option *ngFor="let study of AllStudies">{{study.name}}</option>
        </select></div>
        <div class="table-data">{{project.createdOn}}</div>
        <div *ngIf="!edit || i != divIndex">
          <button class="table-data" (click)="editRow(i);">Edit</button>
          <button class="table-data" (click)="delete(project.id, project.title);">Delete</button>
        </div>
        <div *ngIf="edit && i == divIndex">
          <button class="table-data" (click)="updateProject(project)">Save</button>
          <button class="table-data" (click)="cancel()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

